<% include ../partials/header%>
        
            <div class="row">
                <h2> Welcome to Services Page SQL page</h2>
<div class="row">
  <h2>Welcome to the Contacts page  <br>
  <div class="grid-container">
      <% res1.forEach(function(contact){ %>
      
           <div class="item">     
                <div class="item">
                   <h1 class="itemtitle">Id: <%= contact.Id %> </h1>
                   <h1 class="itemtitle">Name: <%= contact.Name %> </h1>
                   <h1 class="itemtitle">Price: <%= contact.Price %> </h1>
                    <img src="/<%= contact.Image %>" class= "pimage"> </img> 
                   <h1 class="itemtitle">Desciption: <%= contact.Desciption %> </h1>
                   
                   <a href="/deletesql/<%= contact.Id %>" class="button">Delete Me!</a>
                   <a href="/editsql/<%= contact.Id %>" class="button">Edit Me!</a>
                  
                </div>
            </div>
              
         <% }); %>
    </div>
 
</div>

        
   <% include ../partials/footer%>
